body{
  background: center/ cover no-repeat url(../img/home.png) ;
  height: 100vh;
}

nav{
  a:nth-child(2){
    color: white;
    font-weight: 700;
  }
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .container{
    display: flex;
    align-items: center;

    h1{
      color: var(--title);
      font-weight: 700;
      font-size: 6.8rem;
      margin-bottom: 2.4rem;
      line-height: 125%;
    }
    
    button{
      margin-bottom: 40rem;
      border: 2px solid white;
      background-color: transparent;
      padding: 1.2rem 3.2rem;
      border-radius: 5px;
      width: 19.5rem;

      a{
        text-decoration: none;
        color: white;

        font-weight: 700;
        font-size: 1.4rem;
        line-height: 2.4rem;
      }
    }

    button:hover{
      background-color: white;
      a{
        color: var(--button-hover);
      }
    }
  }
}